//! Header with interactive hamburger 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    .barber-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-image: url("./views/images/haircut_pic.jpg") no-repeat;
        background-size: cover; 
        background-position: 50% 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // &:before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
    }
    .contact-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-image: url("./views/images/haircut_pic.jpg") no-repeat;

        background-size: cover; 
        background-position: 50% 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // opacity: 0.2;
    }
    .about-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        

        // background-image: url("./haircut_pic.jpg") no-repeat;
        line-height: 4vh;
        background-size: cover; 
        background-position: 50% 30%;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        // &:before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
    }
    .container {
        position: relative;
        height: 100vh;
        width: 100vw;
        background: url("./views/images/title_page_image.jpg") no-repeat;
        background-size: cover; 
        background-position: 50% 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // &:before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, 0.7);
        // }
    }

    .content{
        justify-self: center;
        background-color: rgba(255, 255, 255, 0.527);
        max-width: 80vw;
        padding: 2rem;
        position: relative;
        z-index: 1;
        h1 {
            font-size: 4.3rem;
            margin-bottom: 0.8rem;
            color: black;
            // text-shadow: 2px 2px 2px #000000;
        }
        p {
            color: black;
            font-size: 1.2rem;
            font-weight: 100;
            // text-shadow: 2px 2px 2px #000000;
        }
    }

    .contact-content {
        display: grid;
        justify-content: center;
        justify-items: center;
        position: absolute;
        top: 25%;
        width: 100vw;
        grid-template-rows: 30% 1fr;
        grid-template-areas: 
        "heading"
        "form"
        ;
        h1 {
            grid-area: heading;
        }

        // -ms-transform: translateY(-50%);
        // transform: translateY(-50%);
    }

    .contactForm {
        grid-area: form;
        line-height: 5vh;
        z-index: 25; //was previously sitting behind the header 

    }

    .content-location{
        display: grid;
        grid-template-rows: 20vh 1fr auto;
        grid-template-columns: 1fr 10% 1fr;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.527);

        // position: grid;
        z-index: 1;
        grid-template-areas: 
        "title title title"
        "img . p"
        ;
        h1 {
            grid-area: title;
            font-size: 4.3rem;
            margin-bottom: 0.8rem;
            color: black;
            // text-shadow: 2px 2px 2px #000000;
        }
        p {
            grid-area: p;
            color: black;
            font-size: 1.3rem;
            font-weight: 100;
            line-height: 5vh;
            // text-shadow: 2px 2px 2px #000000;

        }
        img {
            grid-area: img;
        }
    }
    
    .btn {
        padding: 0.75rem 1.25rem;
        margin-top: 0.8rem;
        font-size: 1.1rem;
        font-weight: 550;
        color: white;
        background-color: #111;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-black;
        transition: 0.3s;
        &:hover {
            color: yellow;
            opacity: 0.7;
        }
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .toggler {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .hamburger{
        position: absolute;
        top: 0.5rem;
        left:0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        div {
            position: absolute;
            width: 50%;
            height: 3px;
            border-radius: 1.5px;
            background-color: white;
            transition: .4s;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: white;
                transition: 0.4s;
            }
            &:before{
                top: -10px;
            }
            &:after {
                top: 10px;
            }
        }

    }
    .toggler:checked + .hamburger>div {
        transform: rotate(135deg);
    }

    .toggler:checked:hover + .hamburger>div {
        transform: rotate(225deg);
    }

    .toggler:checked + .hamburger>div:after, .toggler:checked + .hamburger>div:before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        visibility: visible;
    }

    .toggler:checked ~ .menu> div {
        transform: translateX(-50%) translateY(-50%);
    }
    .toggler:checked ~ .menu>div>div {
        opacity: 1;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        // visibility: hidden;
        transition: 0.6s;

        div {
            position: absolute;
            width: 1600px;
            height: 1600px;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%);
            background-color: rgba(0,0,0,0.9);
            transition: 0.6s;
            display: flex;
            justify-content: center;
            align-items: center;
            // div {
            //     max-width: 90vw;
            //     max-height: 100vh;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     text-align: center;
            //     opacity: 0;
                ul{
                    display: grid;
                    justify-items: center;
                    list-style: none;
                    li>a {
                      
                        text-decoration: none;
                        margin: 0.5rem;
                        display: inline-block;
                        font-size: 2.2rem;
                        font-weight: 550;
                        text-transform: uppercase;
                        color: white;
                        transition: 0.3s;
                    &:hover {
                        color: #fff44f
                    }
                }
                }
            // }
        }
    }
}


//! Header

// .header_grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     color: orange;
//     justify-items: center;
//     background-color: rgba(255, 255, 255, 0.664);
//     height: 140px;
//     width: 100vw;
//     position: fixed;
// }

// #header_box2 {
//     img{
//     width: 300px;
//     }
//     margin-top: -90px;
   
// }

// .title-mid {
//     height: 100vh;
//     background-color: red;
//     background-image: url("title_page_image.jpg");
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center center;
//     background-size: cover;
//     height: 90vh;
// }